.Header {
  z-index: 100;
  position: relative;
  top: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(#00796b, rgb(37, 134, 104));
  color: #fff;
  display: flex;
  align-items: center;
  font-family: FredokaOne;
}

.Items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.navItem {
  padding: 0px 10px;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}
.navItem:hover {
  color: #fff;
}

.selectedNavItem {
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(5, 5, 5, 0.3);
  text-shadow: 1px 1px 10px #333;
  color: #fff;
  display: flex;
  align-items: center;
}

.Logo-img-component {
  width: 14rem;
  margin-left: 30px;
}

.Logo-img {
  height: 100%;
  width: 100%;
}

.nav-btn {
  display: none;
}

.Header > #nav-check {
  display: none;
}

@media (max-width: 700px) {
  .nav-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 100%;
  }

  .nav-btn .FaBars {
    width: 30px;
    height: 30px;
    color: #fff;
  }

  .nav-btn .FaBars:hover {
    filter: drop-shadow(0px 0px 10px #fff);
  }

  .Items {
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    background: linear-gradient(rgb(37, 134, 104), #00796b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 0px;
    transition: all 0.1s ease;
    overflow-y: hidden;
    top: 5rem;
    left: 0px;
  }

  .navItem {
    margin: 5px;
  }

  .Header > #nav-check:not(:checked) ~ .Items {
    height: 0px;
  }

  .Header > #nav-check:checked ~ .Items {
    height: auto;
    padding: 10px;
    overflow-y: auto;
  }

  .Logo-img-component {
    margin: auto;
  }
}
