@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

.login-header {
  margin: 40px 0px 0px 0px;
  padding: 10px;
}

.Logo-img {
  height: 100%;
  width: 100%;
}

.round-btn {
  width: 100%;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 25px;
  color: rgba(255, 255, 255);
  font-size: 19px;
  font-family: Nunito;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: 50px;
  margin-bottom: 40px;
}

.round-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.input-line {
  text-align: center;
  width: 100%;
  border: none;
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: Nunito;
  font-weight: 300;
  font-size: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.input-line:focus {
  outline: none;
  border-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  position: relative;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-flow: column;
  z-index: 5;
}

.content form {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
}

.text {
  font-family: FredokaOne;
  text-align: center;
  font-size: 26px;
}

.window {
  border-radius: 25px;
  color: #fff;
  font-family: Nunito;
  display: flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.5);
  height: 560px;
  width: 360px;
  background-color: white;
  background-image: url('../assets/images/dog-photo.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.overlay {
  border-radius: 25px;
  background: linear-gradient(#00796b, rgb(37, 134, 104));
  opacity: 0.8;
  height: 560px;
  position: absolute;
  width: 360px;
}
