@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

.popup-container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  position: absolute;
  margin: auto;
  background: #eee;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  font-family: FredokaOne;
  min-width: 400px;
}

.popup-header {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(#00796b, rgb(37, 134, 104));
  border-radius: 8px 8px 0px 0px;
}

.popup-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01rem;
  border-radius: 8px 8px 0px 0px;
}

.popup .green-btn {
  background: linear-gradient(rgb(10, 146, 130), rgb(37, 134, 104));
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 3px rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: FredokaOne;
  padding: 7px 12px;
  margin: 10px;
  float: right;
}

.popup .green-btn:hover {
  background: linear-gradient(rgb(6, 145, 128), rgb(48, 158, 123));
  color: #fff;
}

.popup .gray-btn {
  background: linear-gradient(rgb(157, 179, 176), rgb(98, 128, 118));
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 3px rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: FredokaOne;
  padding: 7px 12px;
  margin: 10px;
  float: right;
}

.popup .gray-btn:hover {
  background: linear-gradient(rgb(144, 163, 161), rgb(114, 146, 137));
  color: #fff;
}

.popup .red-btn {
  background: linear-gradient(rgb(202, 56, 56), rgb(196, 87, 60));
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 3px rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: FredokaOne;
  padding: 7px 12px;
  margin: 10px;
  float: left;
}

.popup .popup-table {
  width: 100%;
  font-family: Nunito;
  font-weight: 800;
  color: rgb(60, 60, 60);
}

.popup .popup-table-header {
  font-weight: 500;
  letter-spacing: 0.04rem;
  color: rgb(100, 100, 100);
  font-family: FredokaOne;
}

.popup .red-btn:hover {
  background: linear-gradient(rgb(245, 69, 69), rgb(228, 102, 70));
  color: #fff;
}

.popup button:active {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3), inset 0px -2px 5px 1px rgba(5, 5, 5, 0.3);
}

.popup input {
  font-family: Nunito;
  font-weight: 700;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.select-div {
  font-family: Nunito;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.med-select {
  font-family: Nunito;
  font-weight: 700;
}

.inputs-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}

.inputs-div p {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  color: rgb(100, 100, 100);
  font-family: FredokaOne;
}

.inputs-div .label-and-input {
  width: 100%;
  margin: 0px 8px;
}

.confirm-popup {
  text-align: center;
  font-family: Nunito;
  color: rgb(70, 70, 70);
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
