@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 50px 0px;
}

.function-bar {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: FredokaOne;
  font-size: 28px;
}

.search-input {
  width: 45vw;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 20px;
}

.search-input input{
  font-family: Nunito;
  font-weight: 400;
}

.search-input input#search {
  width: 100%;
  height: 50px;
  border: 2px solid #00796b;
  font-size: 1.1rem;
  float: left;
  color: rgb(0, 80, 69);
  padding-left: 45px;
  border-radius: 8px;
  font-family: Roboto;
  box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.3);
}

.search-input input#search:focus {
  box-shadow: 0px 9px 20px rgba(5, 5, 5, 0.3);
}

.search-input .icon {
  position: absolute;
  margin-left: 14px;
  margin-top: 10px;
}

.search-input .fasearch {
  width: 80%;
  height: 80%;
  color: #00796b;
}

.add-button {
  height: 50px;
  width: 50px;
  border: none;
  background: linear-gradient(#00796b, rgb(37, 134, 104));
  box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.3),
    inset 0px -2px 5px 1px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.add-button:active {
  box-shadow: 0px 15px 30px 10px rgba(0, 0, 0, 0.3),
    inset 0px -2px 5px 1px rgba(5, 5, 5, 0.3);
}

.add-button:hover {
  background: linear-gradient(rgb(6, 145, 128), rgb(48, 158, 123));
}

.add-button .faplus {
  width: 40%;
  height: 40%;
  color: #fff;
}

.add-button2 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  border: none;
  background: linear-gradient(rgb(10, 146, 130), rgb(37, 134, 104));
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3),
    inset 0px 2px 3px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.add-button2:active {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3),
    inset 0px -2px 5px 1px rgba(5, 5, 5, 0.3);
}

.add-button2:hover {
  background: linear-gradient(rgb(6, 145, 128), rgb(48, 158, 123));
}

.add-button2 .faplus {
  width: 40%;
  height: 40%;
  color: #fff;
}

.table {
  position: relative;
  width: 90%;
  max-width: 80rem;
  font-family: FredokaOne;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px 8px 8px 8px;
}

.table-header {
  display: flex;
  align-items: center;
  background: linear-gradient(#00796b, rgb(37, 134, 104));
  border-radius: 8px 8px 0px 0px;
}

.table table {
  width: 100%;
  table-layout: fixed;
}

.table th {
  padding: 20px 15px;
  letter-spacing: 0.05rem;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.table th:hover {
  color: #fff;
}

.table td {
  padding: 20px 15px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-bottom: solid 1px rgba(0, 121, 107, 0.2);
}

.table-row {
  color: rgba(0, 0, 0, 0.7);
}
.table-row:hover {
  color: #00796b;
}

.table-content {
  max-height: 60vh;
  overflow-x: auto;
  margin-top: 0px;
  border: 2px solid #00796b;
  border-radius: 0px 0px 8px 8px;
}

.outros-container {
  display: flex;
  justify-content: space-evenly;
}
