.welcome-page {
  z-index: 0;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(37, 134, 104), #00796b);
  color: #fff;
  font-family: Nunito;
}

.centeredContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.centeredContainer h1 {
  font-size: 42px;
  font-weight: 600;
}

.centeredContainer p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 500;
  max-width: 550px;
  text-align: center;
}
