body, html, #root{
  background: #eee;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.App-Splash {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none !important;
}

.App-loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}