body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'FredokaOne';
  src: local('FredokaOne'), url(./application/assets/fonts/FredokaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sriracha';
  src: local('Sriracha'), url(./application/assets/fonts/Sriracha-Regular.ttf) format('truetype');
}